@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Make It Rain is all about making you money!</p>
@HttpContext.Current.Session["FacebookID"].ToString();
@HttpContext.Current.Session["FacebookName"].ToString();