@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    555 Road to Nowhere<br />
    Planet Earth, Milky Way 589456-487596<br />
</address>

<script id="sid0020000060039089752">(function() {function async_load(){s.id="cid0020000060039089752";s.src='http://st.chatango.com/js/gz/emb.js';s.style.cssText="width:250px;height:350px;";s.async=true;s.text='{"handle":"makeitrain010","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","q":"CC0000","r":100,"cvbg":"CC0000","cvw":75,"cvh":40}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000060039089752'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>
