@{
    ViewBag.Title = "Make it Rain";
}
<div class="col left-pannel">
    <div class="row-md-4">
        Logo Gogo here
        <h2>Make it Rain</h2>
    </div>
    <hr />
    <div class="row-md-4">
        <p>Welcome, <b>User's Name</b></p>
    </div>
    <hr />
    <div class="row-md-4">
        Navigation goes here
    </div>
    <hr />
    <div class="row-md-4 pannel-friends"  >
        Friends go here, if you have them
    </div>
    
</div>

<div class="main-facebook-feed">
    Facebook Feed here
</div>

<div class="main-left-pannel col">
     <div class="row-md-4" >
         <script src="//www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
     </div>
    <hr />
    <div class="row-md-4">
        Calender stuff here
    </div>
    <hr />
    <div class="row-md-4">
        Facebook chat here
    </div>
</div>