@{
    ViewBag.Title = "Make it Rain";
}
<div class="col left-pannel">
    <div class="row-md-4">
        Logo Gogo here
        <h2>Make it Rain</h2>
    </div>
    <hr />
    <div class="row-md-4">
        <p>Welcome, <b>User's Name</b></p>
    </div>
    <hr />
    <div class="row-md-4">
        Navigation goes here
    </div>
    <hr />
    <div class="row-md-4 pannel-friends"  >
        Friends go here, if you have them
    </div>
    
</div>

<div class="main-facebook-feed">
    Facebook Feed here
</div>

<div class="main-left-pannel col">
     <div class="row-md-4" >
         Stock information here
     </div>
    <hr />
    <div class="row-md-4">
        Calender stuff here
    </div>
    <hr />
    <div class="row-md-4">
        Facebook chat here
    </div>
</div>