@{
    ViewBag.Title = "Make it Rain";
    
}
<div class="col left-pannel">
    <div class="row-md-4">
        Logo Gogo here
        <h2>Make it Rain</h2>
    </div>
    <hr />
    <div class="row-md-4">
        <p>Welcome, <b>@HttpContext.Current.Session["FacebookName"].ToString()</b></p>
        
    </div>
    <hr />
    <div class="row-md-4">
        Navigation goes here
    </div>
    <hr />
    <div class="row-md-4 pannel-friends"  >
        @Html.Raw(HttpContext.Current.Session["friends"])
        <script>
            function addFriend() {
                var friend_id = document.getElementById('facebook_friend_id').value;
                console.log("Friend ID"+friend_id);
                window.location.assign("http://www.facebook.com/dialog/friends/?id="+friend_id+"&app_id=728589213827172&redirect_uri=http://vm344b.se.rit.edu/MakeItRain/");
            }
        </script>
            <input type="text" id="facebook_friend_id" name="facebook_friend_id" />
            <button onclick="addFriend();">Add Friend</button>
    </div>
    
</div>

<div class="main-facebook-feed">
    @Html.Raw(HttpContext.Current.Session["feed"])
    <script>
        function createPost() {
            window.location.assign("https://www.facebook.com/dialog/feed?app_id=728589213827172&display=popup&redirect_uri=http://vm344b.se.rit.edu/MakeItRain/")
        }
    </script>
    <button onclick="createPost();">Make a post</button>
</div>

<div class="main-left-pannel col">
     <div class="row-md-4" >
         <script src="//www.gmodules.com/ig/ifr?url=http://edulifeline.com/includes/stocks_widget/widget.xml&amp;synd=open&amp;w=250&amp;h=322&amp;title=Financial+Stock+Ticker+(Live)&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
     </div>
    <hr />
    <div class="row-md-4">
        Calender stuff here
    </div>
    <hr />
    <div class="row-md-4">
        Facebook chat here
    </div>
</div>