@{
    ViewBag.Title = "Make it Rain";
}
<div class="col left-pannel">
    <div class="row-md-4">
        Logo Gogo here
        <h2>Make it Rain</h2>
    </div>
    <hr />
    <div class="row-md-4">
        <p>Welcome, <b>User's Name</b></p>
    </div>
    <hr />
    <div class="row-md-4">
        Navigation goes here
    </div>
    <hr />
    <div class="row-md-4 pannel-friends"  >
        Friends go here, if you have them
    </div>
    
</div>

<div class="main-facebook-feed">
    Facebook Feed here
</div>

<script id="sid0020000060039089752">(function() {function async_load(){s.id="cid0020000060039089752";s.src='http://st.chatango.com/js/gz/emb.js';s.style.cssText="width:250px;height:350px;";s.async=true;s.text='{"handle":"makeitrain010","styles":{"a":"CC0000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"CC0000","l":"CC0000","m":"CC0000","n":"FFFFFF","q":"CC0000","r":100,"cvbg":"CC0000","cvw":75,"cvh":40}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000060039089752'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>

<div class="main-left-pannel col">
     <div class="row-md-4" >
         Stock information here
     </div>
    <hr />
    <div class="row-md-4">
        Calender stuff here
    </div>
    <hr />
    <div class="row-md-4">
        Facebook chat here
    </div>
</div>